'.source.apex':
  'editor':
    'commentStart': '// '
    'foldEndPattern': '^\\s*(\\}|// \\}\\}\\}$)'
    'completions': [
        'AcceptedEventRelation'
        'Account'
        'AccountCleanInfo'
        'AccountContactRole'
        'AccountCreator'
        'AccountFeed'
        'AccountHistory'
        'AccountOwnerSharingRule'
        'AccountPartner'
        'AccountShare'
        'AccountTag'
        'AccountTeamMember'
        'AccountTerritoryAssignmentRule'
        'AccountTerritoryAssignmentRuleItem'
        'AccountTerritorySharingRule'
        'Action'
        'ActivityHistory'
        'AdditionalNumber'
        'AggregateColumn'
        'AllowedEmailDomain'
        'Announcement'
        'Answers'
        'ApexClass'
        'ApexComponent'
        'ApexLog'
        'ApexPage'
        'ApexPages'
        'ApexTestQueueItem'
        'ApexTestResult'
        'ApexTrigger'
        'AppMenuItem'
        'Approval'
        'Approval'
        'Asset'
        'AssetFeed'
        'AssetTag'
        'AssignmentRule'
        'AssignmentRuleHeader'
        'AsyncApexJob'
        'AttachedContentDocument'
        'Attachment'
        'AuthSession'
        'AuthToken'
        'Batchable'
        'BatchableContext'
        'BinaryAttachment'
        'Blob'
        'Bookmark'
        'Boolean'
        'BrandTemplate'
        'BusinessHours'
        'BusinessHours'
        'BusinessProcess'
        'CallCenter'
        'Campaign'
        'CampaignFeed'
        'CampaignMember'
        'CampaignMemberStatus'
        'CampaignOwnerSharingRule'
        'CampaignShare'
        'CampaignTag'
        'Case'
        'CaseArticle'
        'CaseComment'
        'CaseContactRole'
        'CaseFeed'
        'CaseHistory'
        'CaseMilestone'
        'CaseOwnerSharingRule'
        'Cases'
        'CaseShare'
        'CaseSolution'
        'CaseStatus'
        'CaseTag'
        'CaseTeamMember'
        'CaseTeamRole'
        'CaseTeamTemplate'
        'CaseTeamTemplateMember'
        'CaseTeamTemplateRecord'
        'CategoryData'
        'CategoryNode'
        'CategoryNodeLocalization'
        'Chatter'
        'ChatterActivity'
        'ChatterAnswersActivity'
        'ChatterAnswersReputationLevel'
        'ChatterConversation'
        'ChatterConversationMember'
        'ChatterFavorites'
        'ChatterFeeds'
        'ChatterGroups'
        'ChatterMessage'
        'ChatterMessages'
        'ChatterUsers'
        'ChildRelationship'
        'ClientBrowser'
        'CollaborationGroup'
        'CollaborationGroupFeed'
        'CollaborationGroupMember'
        'CollaborationGroupMemberRequest'
        'CollaborationInvitation'
        'ColumnDataType'
        'ColumnSortOrder'
        'CombinedAttachment'
        'Communities'
        'Community'
        'CommunityModeration'
        'Component'
        'Contact'
        'ContactCleanInfo'
        'ContactFeed'
        'ContactHistory'
        'ContactOwnerSharingRule'
        'ContactShare'
        'ContactTag'
        'ContentDocument'
        'ContentDocumentFeed'
        'ContentDocumentHistory'
        'ContentDocumentLink'
        'ContentVersion'
        'ContentVersionHistory'
        'ContentWorkspace'
        'ContentWorkspaceDoc'
        'Contract'
        'ContractContactRole'
        'ContractFeed'
        'ContractHistory'
        'ContractLineItem'
        'ContractLineItemHistory'
        'ContractStatus'
        'ContractTag'
        'Cookie'
        'CronJobDetail'
        'CronTrigger'
        'Crypto'
        'CurrencyType'
        'CustomBrand'
        'CustomBrandAsset'
        'DandBCompany'
        'Dashboard'
        'DashboardComponent'
        'DashboardComponentFeed'
        'DashboardFeed'
        'DashboardTag'
        'Database'
        'DataCategory'
        'DataCategoryGroupSobjectTypePair'
        'DatacloudCompany'
        'DatacloudContact'
        'DatacloudDandBCompany'
        'DatacloudOwnedEntity'
        'DatacloudPurchaseUsage'
        'DatacloudSocialHandle'
        'Date'
        'DatedConversionRate'
        'DateGranularity'
        'Datetime'
        'Decimal'
        'DeclinedEventRelation'
        'DeletedRecord'
        'DeleteResult'
        'DescribeAvailableQuickActionResult'
        'DescribeColorResult'
        'Describe​DataCategoryGroupResult'
        'Describe​DataCategoryGroupStructureResult'
        'DescribeFieldResult'
        'DescribeIconResult'
        'DescribeLayoutComponent'
        'DescribeLayoutItem'
        'DescribeLayoutRow'
        'DescribeLayoutSection'
        'DescribeQuickActionDefaultValue'
        'DescribeQuickActionResult'
        'DescribeSObjectResult'
        'DescribeTabResult'
        'DescribeTabSetResult'
        'DetailColumn'
        'Dimension'
        'DisplayType'
        'Division'
        'DivisionLocalization'
        'DMLOptions'
        'Document'
        'Document'
        'DocumentAttachmentMap'
        'DocumentTag'
        'Domain'
        'DomainSite'
        'Double'
        'Email'
        'EmailFileAttachment'
        'EmailHeader'
        'EmailMessage'
        'EmailServicesAddress'
        'EmailServicesFunction'
        'EmailStatus'
        'EmailTemplate'
        'EmailTemplateSelector '
        'EmptyRecycleBinResult'
        'EncodingUtil'
        'Entitlement'
        'EntitlementContact'
        'EntitlementFeed'
        'EntitlementHistory'
        'EntitlementTemplate'
        'EntityHistory'
        'EntitySubscription'
        'EnvironmentHubMember'
        'Error'
        'Event'
        'EventFeed'
        'EventRelation'
        'EventTag'
        'EventWhoRelation'
        'ExternalDataSource'
        'ExternalDataUserAuth'
        'FeedComment'
        'FeedItem'
        'FeedLike'
        'FeedPollChoice'
        'FeedPollVote'
        'FeedPost'
        'FeedTrackedChange'
        'FieldHistoryArchive'
        'FieldPermissions'
        'FieldSet'
        'FieldSetMember'
        'FilterOperator'
        'FilterValue'
        'FiscalYearSettings'
        'Folder'
        'ForecastingAdjustment'
        'ForecastingFact'
        'ForecastingItem'
        'ForecastingQuota'
        'ForecastingType'
        'ForecastShare'
        'GetDeletedResult'
        'GetUpdatedResult'
        'GoogleDoc'
        'Group'
        'GroupingColumn'
        'GroupingInfo'
        'GroupingValue'
        'GroupMember'
        'HashtagDefinition'
        'Holiday'
        'Http'
        'HttpCalloutMock'
        'HttpRequest'
        'HttpResponse'
        'Id'
        'Idea'
        'IdeaComment'
        'IdeaReputation'
        'IdeaReputationLevel'
        'Ideas'
        'IdeaStandardController'
        'IdeaStandardSetController'
        'IdeaTheme'
        'InboundEmail.Header'
        'InboundEmail'
        'InboundEmailResult'
        'InboundEnvelope'
        'InstallHandler'
        'Integer'
        'Interview'
        'JSON'
        'JSONGenerator'
        'JSONParser'
        'JSONToken Enum'
        'KnowledgeArticle'
        'KnowledgeArticleVersion'
        'KnowledgeArticleVersionHistory'
        'KnowledgeArticleVersionStandardController'
        'KnowledgeArticleViewStat'
        'KnowledgeArticleVoteStat'
        'Lead'
        'LeadCleanInfo'
        'LeadConvert'
        'LeadConvertResult'
        'LeadFeed'
        'LeadHistory'
        'LeadOwnerSharingRule'
        'LeadShare'
        'LeadStatus'
        'LeadTag'
        'LimitAllocationPerApp'
        'Limits'
        'LineitemOverride'
        'List'
        'LiveAgentSession'
        'LiveAgentSessionHistory'
        'LiveAgentSessionOwnerSharingRule'
        'LiveAgentSessionShare'
        'LiveChatButton'
        'LiveChatButtonDeployment'
        'LiveChatButtonSkill'
        'LiveChatDeployment'
        'LiveChatTranscript'
        'LiveChatTranscriptEvent'
        'LiveChatTranscriptHistory'
        'LiveChatTranscriptOwnerSharingRule'
        'LiveChatTranscriptShare'
        'LiveChatTranscriptSkill'
        'LiveChatUserConfig'
        'LiveChatUserConfigProfile'
        'LiveChatUserConfigUser'
        'LiveChatVisitor'
        'LoginHistory'
        'LoginIp'
        'Long'
        'MailmergeTemplate'
        'Map'
        'MassEmailMessage'
        'Matcher'
        'Math'
        'Mentions'
        'MergeResult'
        'Message'
        'Messaging'
        'MetricsDataFile'
        'MilestoneTriggerTimeCalculator'
        'MilestoneType'
        'MultiStaticResourceCalloutMock'
        'Name'
        'Network'
        'Network'
        'NetworkActivityAudit'
        'NetworkMember'
        'NetworkMemberGroup'
        'NetworkModeration'
        'NewsFeed'
        'Note'
        'NoteAndAttachment'
        'NoteTag'
        'ObjectPermissions'
        'OpenActivity'
        'Opportunity'
        'OpportunityCompetitor'
        'OpportunityContactRole'
        'OpportunityFeed'
        'OpportunityFieldHistory'
        'OpportunityHistory'
        'OpportunityLineItem'
        'OpportunityLineItemSchedule'
        'OpportunityOverride'
        'OpportunityOwnerSharingRule'
        'OpportunityPartner'
        'OpportunityShare'
        'OpportunitySplit'
        'OpportunitySplitType'
        'OpportunityStage'
        'OpportunityTag'
        'OpportunityTeamMember'
        'Order'
        'OrderFeed'
        'OrderHistory'
        'OrderItem'
        'OrderItemFeed'
        'OrderItemHistory'
        'Organization'
        'Organization'
        'OrgWideEmailAddress'
        'OwnedContentDocument'
        'PageReference'
        'Partner'
        'PartnerNetworkConnection'
        'PartnerNetworkRecordConnection'
        'PartnerRole'
        'Pattern'
        'Period'
        'PermissionSet'
        'PermissionSetAssignment'
        'PermissionSetLicense'
        'PermissionSetLicenseAssign'
        'PicklistEntry'
        'Plugin'
        'PluginDescribeResult.InputParameter'
        'PluginDescribeResult.OutputParameter'
        'PluginDescribeResult'
        'PluginRequest'
        'PluginResult'
        'Pricebook2'
        'Pricebook2History'
        'PricebookEntry'
        'ProcessInstance'
        'ProcessInstanceHistory'
        'ProcessInstanceStep'
        'ProcessInstanceWorkitem'
        'ProcessRequest'
        'ProcessResult'
        'ProcessSubmitRequest'
        'ProcessWorkitemRequest'
        'Product2'
        'Product2Feed'
        'ProductEntitlementTemplate'
        'Profile'
        'ProfileSkill'
        'ProfileSkillEndorsement'
        'ProfileSkillEndorsementHistory'
        'ProfileSkillFeed'
        'ProfileSkillHistory'
        'ProfileSkillShare'
        'ProfileSkillUser'
        'ProfileSkillUserHistory'
        'PublishingService'
        'PushTopic'
        'QuantityForecast'
        'QuantityForecastHistory'
        'QueryLocator'
        'QueryLocatorIterator'
        'Question'
        'QuestionDataCategorySelection'
        'QuestionReportAbuse'
        'QuestionSubscription'
        'QueueSobject'
        'QuickAction'
        'QuickActionRequest'
        'QuickActionResult'
        'QuickText'
        'QuickTextHistory'
        'QuickTextOwnerSharingRule'
        'QuickTextShare'
        'Quote'
        'QuoteDocument'
        'QuoteLineItem'
        'RecentlyViewed'
        'RecordDetails'
        'Records'
        'RecordType'
        'RecordTypeInfo'
        'RecordTypeLocalization'
        'RegistrationHandler'
        'Reply'
        'ReplyReportAbuse'
        'Report'
        'ReportCurrency'
        'ReportDataCell'
        'ReportDescribeResult'
        'ReportDetailRow'
        'ReportExtendedMetadata'
        'ReportFact'
        'ReportFactWithDetails'
        'ReportFeed'
        'ReportFilter'
        'ReportFormat'
        'ReportInstance'
        'ReportManager'
        'ReportMetadata'
        'ReportResults'
        'ReportTag'
        'ReportType'
        'ReportTypeColumn'
        'ReportTypeColumnCategory'
        'ReportTypeMetadata'
        'ResetPasswordResult'
        'RestContext'
        'RestRequest'
        'RestResponse'
        'RevenueForecast'
        'RevenueForecastHistory'
        'SaveResult'
        'Schedulable'
        'SchedulableContext'
        'Schema'
        'Scontrol'
        'ScontrolLocalization'
        'Search'
        'SelectOption'
        'SelfServiceUser'
        'SendEmailError'
        'SendEmailResult'
        'ServiceContract'
        'ServiceContractFeed'
        'ServiceContractHistory'
        'ServiceContractOwnerSharingRule'
        'ServiceContractShare'
        'Set'
        'SetupEntityAccess'
        'SignupRequest'
        'SingleEmailMessage Methods'
        'Site'
        'Site'
        'SiteDomain'
        'SiteHistory'
        'Skill'
        'SkillProfile'
        'SkillUser'
        'SlaProcess'
        'SOAPType'
        'sObject'
        'SObjectField'
        'SObjectType'
        'Solution'
        'SolutionFeed'
        'SolutionHistory'
        'SolutionStatus'
        'SolutionTag'
        'StandardController'
        'StandardSetController'
        'StaticResource'
        'StaticResourceCalloutMock'
        'StreamingChannel'
        'String'
        'SummaryValue'
        'System'
        'TagDefinition'
        'Task'
        'TaskFeed'
        'TaskPriority'
        'TaskRelation'
        'TaskStatus'
        'TaskTag'
        'TaskWhoRelation'
        'Territory'
        'Test'
        'TextAttachment'
        'Time'
        'TimeZone'
        'Topic'
        'TopicAssignment'
        'TopicFeed'
        'Topics'
        'Type'
        'UndecidedEventRelation'
        'UndeleteResult'
        'UninstallHandler'
        'UpsertResult'
        'URL'
        'UrlRewriter'
        'User'
        'UserAccountTeamMember'
        'UserData'
        'UserFeed'
        'UserInfo'
        'UserLicense'
        'UserLogin'
        'UserMembershipSharingRule'
        'UserPreference'
        'UserProfile'
        'UserProfileFeed'
        'UserProfiles'
        'UserRecordAccess'
        'UserRole'
        'UserShare'
        'UserTeamMember'
        'UserTerritory'
        'Version'
        'Vote'
        'WebLink'
        'WebLinkLocalization'
        'WebServiceMock'
        'WorkAccess'
        'WorkAccessShare'
        'WorkBadge'
        'WorkBadgeDefinition'
        'WorkBadgeDefinitionHistory'
        'WorkBadgeDefinitionShare'
        'WorkCoaching'
        'WorkCoachingFeed'
        'WorkCoachingHistory'
        'WorkCoachingShare'
        'WorkFeedback'
        'WorkFeedbackQuestion'
        'WorkFeedbackQuestionHistory'
        'WorkFeedbackQuestionSet'
        'WorkFeedbackQuestionSetShare'
        'WorkFeedbackQuestionShare'
        'WorkFeedbackRequest'
        'WorkFeedbackRequestHistory'
        'WorkFeedbackRequestShare'
        'WorkFeedbackShare'
        'WorkGoal'
        'WorkGoalCollaborator'
        'WorkGoalCollaboratorHistory'
        'WorkGoalFeed'
        'WorkGoalHistory'
        'WorkGoalLink'
        'WorkGoalShare'
        'WorkPerformanceCycle'
        'WorkPerformanceCycleFeed'
        'WorkPerformanceCycleHistory'
        'WorkPerformanceCycleShare'
        'WorkReward'
        'WorkRewardFund'
        'WorkRewardFundHistory'
        'WorkRewardFundShare'
        'WorkRewardHistory'
        'WorkRewardShare'
        'WorkThanks'
        'WorkThanksShare'
        'XmlNode'
        'XmlStreamReader'
        'XmlStreamWriter'
        'Zones'
    ]
'.source.visualforce':
  'editor':
    'commentStart': '<!-- '
    'commentEnd': ' -->'
    'completions': [
        'analytics:reportChart'
        'apex:actionFunction'
        'apex:actionPoller'
        'apex:actionRegion'
        'apex:actionStatus'
        'apex:actionSupport'
        'apex:areaSeries'
        'apex:attribute'
        'apex:axis'
        'apex:barSeries'
        'apex:canvasApp'
        'apex:chart'
        'apex:chartLabel'
        'apex:chartTips'
        'apex:column'
        'apex:commandButton'
        'apex:commandLink'
        'apex:component'
        'apex:componentBody'
        'apex:composition'
        'apex:dataList'
        'apex:dataTable'
        'apex:define'
        'apex:detail'
        'apex:dynamicComponent'
        'apex:emailPublisher'
        'apex:enhancedList'
        'apex:facet'
        'apex:flash'
        'apex:form'
        'apex:gaugeSeries'
        'apex:iframe'
        'apex:image'
        'apex:include'
        'apex:includeScript'
        'apex:inlineEditSupport'
        'apex:input'
        'apex:inputCheckbox'
        'apex:inputField'
        'apex:inputFile'
        'apex:inputHidden'
        'apex:inputSecret'
        'apex:inputText'
        'apex:inputTextarea'
        'apex:insert'
        'apex:legend'
        'apex:lineSeries'
        'apex:listViews'
        'apex:logCallPublisher'
        'apex:message'
        'apex:messages'
        'apex:milestoneTracker'
        'apex:outputField'
        'apex:outputLabel'
        'apex:outputLink'
        'apex:outputPanel'
        'apex:outputText'
        'apex:page'
        'apex:pageBlock'
        'apex:pageBlockButtons'
        'apex:pageBlockSection'
        'apex:pageBlockSectionItem'
        'apex:pageBlockTable'
        'apex:pageMessage'
        'apex:pageMessages'
        'apex:panelBar'
        'apex:panelBarItem'
        'apex:panelGrid'
        'apex:panelGroup'
        'apex:param'
        'apex:pieSeries'
        'apex:radarSeries'
        'apex:relatedList'
        'apex:remoteObjectField'
        'apex:remoteObjectModel'
        'apex:remoteObjects'
        'apex:repeat'
        'apex:scatterSeries'
        'apex:scontrol'
        'apex:sectionHeader'
        'apex:selectCheckboxes'
        'apex:selectList'
        'apex:selectOption'
        'apex:selectOptions'
        'apex:selectRadio'
        'apex:stylesheet'
        'apex:tab'
        'apex:tabPanel'
        'apex:toolbar'
        'apex:toolbarGroup'
        'apex:variable'
        'apex:vote'
        'chatter:feed'
        'chatter:feedWithFollowers'
        'chatter:follow'
        'chatter:followers'
        'chatter:newsfeed'
        'chatter:userPhotoUpload'
        'chatteranswers:aboutme'
        'chatteranswers:allfeeds'
        'chatteranswers:changepassword'
        'chatteranswers:datacategoryfilter'
        'chatteranswers:feedfilter'
        'chatteranswers:feeds'
        'chatteranswers:forgotpassword'
        'chatteranswers:forgotpasswordconfirm'
        'chatteranswers:guestsignin'
        'chatteranswers:help'
        'chatteranswers:login'
        'chatteranswers:registration'
        'chatteranswers:searchask'
        'chatteranswers:singleitemfeed'
        'flow:interview'
        'ideas:detailOutputLink'
        'ideas:listOutputLink'
        'ideas:profileListOutputLink'
        'knowledge:articleCaseToolbar'
        'knowledge:articleList'
        'knowledge:articleRendererToolbar'
        'knowledge:articleTypeList'
        'knowledge:categoryList'
        'liveAgent:clientChat'
        'liveAgent:clientChatAlertMessage'
        'liveAgent:clientChatEndButton'
        'liveAgent:clientChatFileTransfer'
        'liveAgent:clientChatInput'
        'liveAgent:clientChatLog'
        'liveAgent:clientChatMessages'
        'liveAgent:clientChatQueuePosition'
        'liveAgent:clientChatSaveButton'
        'liveAgent:clientChatSendButton'
        'liveAgent:clientChatStatusMessage'
        'messaging:attachment'
        'messaging:emailHeader'
        'messaging:emailTemplate'
        'messaging:htmlEmailBody'
        'messaging:plainTextEmailBody'
        'site:googleAnalyticsTracking'
        'site:previewAsAdmin'
        'social:profileViewer'
        'support:caseArticles'
        'support:caseFeed'
        'support:clickToDial'
        'support:portalPublisher'
        'topics:widget'
    ]
